<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h1>Editar Usuário</h1>
    <form method="post">
        <label for="primeiro-nome">Primeiro Nome:</label>
        <input type="text" id="primeiro-nome" name="primeiro-nome" value="{{ usuario['primeiro_nome'] }}" required><br>
        
        <label for="ultimo-nome">Último Nome:</label>
        <input type="text" id="ultimo-nome" name="ultimo-nome" value="{{ usuario['ultimo_nome'] }}" required><br>
        
        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade" value="{{ usuario['idade'] }}" required><br>
        
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" value="{{ usuario['email'] }}" required><br>
        
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" value="{{ usuario['endereco'] }}"
        required><br>
        
        <label for="setor">Setor:</label>
        <input type="text" id="setor" name="setor" value="{{ usuario['setor'] }}" required><br>
        
        <button type="submit">Salvar Alterações</button>
    </form>
    {% if msg %}
    <p style="color: red;">{{ msg }}</p>
    {% endif %}
</body>
</html>
